# 03-Supplements-Pandas-Data-Frame <a class="tocSkip">

## Instructor: Sang-Yun Oh <a class="tocSkip">

# Pandas

- Pandas package is like data frames package for R

- Extensive set of functions ([Chapter 3 in PDSH](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html) using Colab)

- [Pandas official website](https://pandas.pydata.org)

- [Latest stable release documentation](http://pandas.pydata.org/pandas-docs/stable/api.html).

- Use correct documentation version

In [1]:
import pandas as pd

pd.__version__

'0.25.1'

## Practice with NBA data

In [2]:
def get_nba_data(endpt, params, return_url=False):

    ## endpt: https://github.com/seemethere/nba_py/wiki/stats.nba.com-Endpoint-Documentation
    ## params: dictionary of parameters: i.e., {'LeagueID':'00'}
    
    from pandas import DataFrame
    from urllib.parse import urlencode
    import json
    
    useragent = "\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9\""
    dataurl = "\"" + "http://stats.nba.com/stats/" + endpt + "?" + urlencode(params) + "\""
    
    # for debugging: just return the url
    if return_url:
        return(dataurl)
    
    jsonstr = !wget -q -O - --user-agent={useragent} {dataurl}
    
    data = json.loads(jsonstr[0])
    
    h = data['resultSets'][0]['headers']
    d = data['resultSets'][0]['rowSet']
    
    return(DataFrame(d, columns=h))

In [3]:
## get all teams
params = {'LeagueID':'00'}
# teams = get_nba_data('commonTeamYears', params)  # saved from before
teams = pd.read_pickle('data/commonTeamYears.pkl').dropna()

## get all players
params = {'LeagueID':'00', 'Season': '2017-18', 'IsOnlyCurrentSeason': '0'}
# players = get_nba_data('commonallplayers', params) # saved from before
players = pd.read_pickle('data/commonallplayers.pkl').dropna()

## Pandas Series 

The section on `Series` is here: http://pandas.pydata.org/pandas-docs/stable/api.html#series. These are available by placing a dot after the object.

### Data frames are made of Series
Pandas data frames are different objects:

In [4]:
print("data frame object   :", type(teams))
print("data multirow object:", type(teams.iloc[0:3]))
print("data row object     :", type(teams.iloc[0]))
print("data column object  :", type(teams.ABBREVIATION))

data frame object   : <class 'pandas.core.frame.DataFrame'>
data multirow object: <class 'pandas.core.frame.DataFrame'>
data row object     : <class 'pandas.core.series.Series'>
data column object  : <class 'pandas.core.series.Series'>

- Rows/columns of pandas data frame are `Series` objects

- In R, rows would be a smaller data frame

- Methods for `Series` and `DataFrame` are different

- There are categories of functions that are applicable to certain object types:

- Pandas general functions: http://pandas.pydata.org/pandas-docs/stable/api.html#general-functions   
    e.g., [`pandas.melt()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html#pandas-melt) take `DataFrame` as input.

- Series methods: http://pandas.pydata.org/pandas-docs/stable/api.html#series

- DataFrame methods: http://pandas.pydata.org/pandas-docs/stable/api.html#dataframe

### `Series` 

- [http://pandas.pydata.org/pandas-docs/stable/api.html#series](http://pandas.pydata.org/pandas-docs/stable/api.html#series)

In [5]:
pd.Series([1, 5, 3])

0    1
1    5
2    3
dtype: int64

In [6]:
pd.Series([1, 2, 3], index=['a', 'b', 'c'])

a    1
b    2
c    3
dtype: int64

In [7]:
teams.head()

  LEAGUE_ID     TEAM_ID MIN_YEAR MAX_YEAR ABBREVIATION
0        00  1610612739     1970     2019          CLE
1        00  1610612737     1949     2019          ATL
2        00  1610612738     1946     2019          BOS
3        00  1610612740     2002     2019          NOP
4        00  1610612741     1966     2019          CHI

In [8]:
abbr = teams.ABBREVIATION.copy()

#### `Series` to `list`

- `Series` can be converted to `list`

In [9]:
abbr.head().to_list()

['CLE', 'ATL', 'BOS', 'NOP', 'CHI']

- `list` can be converted to `Series`

In [10]:
tmp = abbr.head().to_list()
pd.Series(tmp)

0    CLE
1    ATL
2    BOS
3    NOP
4    CHI
dtype: object

#### `Series` to `dict`

- `Series` can be converted to `dict`

In [11]:
abbr.head().to_dict()

{0: 'CLE', 1: 'ATL', 2: 'BOS', 3: 'NOP', 4: 'CHI'}

- `dict` can be convered to `Series`

In [12]:
tmp = abbr.head().to_dict()
pd.Series(tmp)

0    CLE
1    ATL
2    BOS
3    NOP
4    CHI
dtype: object

#### Other `Series` methods

- More `Series` methods: [Chapter 3 in PDSH](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html).

- `Series` documentation is here: http://pandas.pydata.org/pandas-docs/stable/api.html#series

- Reading documentation is a critical skill (hint for the midterm)

In [13]:
abbr.unique()

array(['CLE', 'ATL', 'BOS', 'NOP', 'CHI', 'DAL', 'DEN', 'HOU', 'LAC',
       'LAL', 'MIA', 'MIL', 'MIN', 'BKN', 'NYK', 'ORL', 'IND', 'PHI',
       'PHX', 'POR', 'SAC', 'SAS', 'OKC', 'TOR', 'UTA', 'MEM', 'WAS',
       'DET', 'CHA', 'GSW'], dtype=object)

- Example: [`str`](http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling) allow functions to be applied to each value as strings
- Search for patterns: search for team names that end with `S`:

In [14]:
abbr.head().str.contains('S$') # $ marks end of string

0    False
1    False
2     True
3    False
4    False
Name: ABBREVIATION, dtype: bool

__Exercise__: how would you use this to pick out team names that end with S? Can you use the resulting boolean `Series`?

In [15]:
# indx = ...
# abbr...

__Exercise__: what is `dir()` function?

In [16]:
dir(abbr)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'base',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_array',
 'ftype',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'imag',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'real',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'strides',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

## Data Frames

- Following ways to call columns are equivalent

In [17]:
temp = teams.copy()

print(temp['MIN_YEAR'].head()) # can call columns whose name is in string variable
print(temp.MIN_YEAR.head())    # easier to read

0    1970
1    1949
2    1946
3    2002
4    1966
Name: MIN_YEAR, dtype: object
0    1970
1    1949
2    1946
3    2002
4    1966
Name: MIN_YEAR, dtype: object

In [18]:
all(temp['MIN_YEAR'] == temp.MIN_YEAR) # checking all elements are equal

True

### Creating columns

- Dot notation cannot be used to create new column

In [19]:
temp['new_column_1'] = temp.MAX_YEAR
temp.new_column_2 = temp.MAX_YEAR    # does not work
temp.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

  LEAGUE_ID     TEAM_ID MIN_YEAR MAX_YEAR ABBREVIATION new_column_1
0        00  1610612739     1970     2019          CLE         2019
1        00  1610612737     1949     2019          ATL         2019
2        00  1610612738     1946     2019          BOS         2019
3        00  1610612740     2002     2019          NOP         2019
4        00  1610612741     1966     2019          CHI         2019

- Existing column can be set with dot notation

In [20]:
temp.LEAGUE_ID = 'ZZ'
temp.head()

  LEAGUE_ID     TEAM_ID MIN_YEAR MAX_YEAR ABBREVIATION new_column_1
0        ZZ  1610612739     1970     2019          CLE         2019
1        ZZ  1610612737     1949     2019          ATL         2019
2        ZZ  1610612738     1946     2019          BOS         2019
3        ZZ  1610612740     2002     2019          NOP         2019
4        ZZ  1610612741     1966     2019          CHI         2019

### Data Frame, Series, dtype

This is different than R data frame in that columns in R data frames have their data types: e.g., `factor`, `integer`, `numeric`, etc. Pandas data frame columns are *all* `Series` with different dtypes. With column types not specified, everything is of dtype `object`:

In [21]:
print(teams.ABBREVIATION.dtype)

object

In [22]:
teams.ABBREVIATION = teams.ABBREVIATION.astype('category')
teams.TEAM_ID      = teams.TEAM_ID.astype('category')
teams.MIN_YEAR     = teams.MIN_YEAR.astype('int')
teams.MAX_YEAR     = teams.MAX_YEAR.astype('int')
teams.head().TEAM_ID

0    1610612739
1    1610612737
2    1610612738
3    1610612740
4    1610612741
Name: TEAM_ID, dtype: category
Categories (30, int64): [1610612737, 1610612738, 1610612739, 1610612740, ..., 1610612763, 1610612764, 1610612765, 1610612766]

Note that `object` is a general term

In [23]:
print("type:", type(teams.iloc[0]))
print("object:", teams.iloc[0])

type: <class 'pandas.core.series.Series'>
object: LEAGUE_ID               00
TEAM_ID         1610612739
MIN_YEAR              1970
MAX_YEAR              2019
ABBREVIATION           CLE
Name: 0, dtype: object

### Condition based slicing

Subset just the current teams

In [24]:
teams

   LEAGUE_ID     TEAM_ID  MIN_YEAR  MAX_YEAR ABBREVIATION
0         00  1610612739      1970      2019          CLE
1         00  1610612737      1949      2019          ATL
2         00  1610612738      1946      2019          BOS
3         00  1610612740      2002      2019          NOP
4         00  1610612741      1966      2019          CHI
5         00  1610612742      1980      2019          DAL
6         00  1610612743      1976      2019          DEN
7         00  1610612745      1967      2019          HOU
8         00  1610612746      1970      2019          LAC
9         00  1610612747      1948      2019          LAL
10        00  1610612748      1988      2019          MIA
11        00  1610612749      1968      2019          MIL
12        00  1610612750      1989      2019          MIN
13        00  1610612751      1976      2019          BKN
14        00  1610612752      1946      2019          NYK
15        00  1610612753      1989      2019          ORL
16        00  1610612754      1976      2019          IND
17        00  1610612755      1949      2019          PHI
18        00  1610612756      1968      2019          PHX
19        00  1610612757      1970      2019          POR
20        00  1610612758      1948      2019          SAC
21        00  1610612759      1976      2019          SAS
22        00  1610612760      1967      2019          OKC
23        00  1610612761      1995      2019          TOR
24        00  1610612762      1974      2019          UTA
25        00  1610612763      1995      2019          MEM
26        00  1610612764      1961      2019          WAS
27        00  1610612765      1948      2019          DET
28        00  1610612766      1988      2019          CHA
29        00  1610612744      1946      2019          GSW

In [25]:
teams['TEAM_AGE'] = teams.MAX_YEAR - teams.MIN_YEAR
teams.loc[teams.TEAM_AGE >= 50,'AGE_GROUP'] = 'OLD'
teams.loc[teams.TEAM_AGE <  50,'AGE_GROUP'] = 'YOUNG'

teams_clean = teams.copy() ## make a copy for later
teams

   LEAGUE_ID     TEAM_ID  MIN_YEAR  MAX_YEAR ABBREVIATION  TEAM_AGE AGE_GROUP
0         00  1610612739      1970      2019          CLE        49     YOUNG
1         00  1610612737      1949      2019          ATL        70       OLD
2         00  1610612738      1946      2019          BOS        73       OLD
3         00  1610612740      2002      2019          NOP        17     YOUNG
4         00  1610612741      1966      2019          CHI        53       OLD
5         00  1610612742      1980      2019          DAL        39     YOUNG
6         00  1610612743      1976      2019          DEN        43     YOUNG
7         00  1610612745      1967      2019          HOU        52       OLD
8         00  1610612746      1970      2019          LAC        49     YOUNG
9         00  1610612747      1948      2019          LAL        71       OLD
10        00  1610612748      1988      2019          MIA        31     YOUNG
11        00  1610612749      1968      2019          MIL        51       OLD
12        00  1610612750      1989      2019          MIN        30     YOUNG
13        00  1610612751      1976      2019          BKN        43     YOUNG
14        00  1610612752      1946      2019          NYK        73       OLD
15        00  1610612753      1989      2019          ORL        30     YOUNG
16        00  1610612754      1976      2019          IND        43     YOUNG
17        00  1610612755      1949      2019          PHI        70       OLD
18        00  1610612756      1968      2019          PHX        51       OLD
19        00  1610612757      1970      2019          POR        49     YOUNG
20        00  1610612758      1948      2019          SAC        71       OLD
21        00  1610612759      1976      2019          SAS        43     YOUNG
22        00  1610612760      1967      2019          OKC        52       OLD
23        00  1610612761      1995      2019          TOR        24     YOUNG
24        00  1610612762      1974      2019          UTA        45     YOUNG
25        00  1610612763      1995      2019          MEM        24     YOUNG
26        00  1610612764      1961      2019          WAS        58       OLD
27        00  1610612765      1948      2019          DET        71       OLD
28        00  1610612766      1988      2019          CHA        31     YOUNG
29        00  1610612744      1946      2019          GSW        73       OLD

Subset just the players in current teams:

In [26]:
players.head(2)

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,0,,,,,Y,00
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,0,,,,,Y,00

In [27]:
teams.head(2)

  LEAGUE_ID     TEAM_ID  MIN_YEAR  MAX_YEAR ABBREVIATION  TEAM_AGE AGE_GROUP
0        00  1610612739      1970      2019          CLE        49     YOUNG
1        00  1610612737      1949      2019          ATL        70       OLD

In [28]:
players = players[players.TEAM_ID.isin(teams.TEAM_ID)]
players.tail()

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
4512,203469,"Zeller, Cody",Cody Zeller,1,2013,2019,cody_zeller,1610612766,Charlotte,Hornets,CHA,hornets,Y,00
4517,203092,"Zeller, Tyler",Tyler Zeller,1,2012,2019,tyler_zeller,1610612749,Milwaukee,Bucks,MIL,bucks,Y,00
4524,1627835,"Zipser, Paul",Paul Zipser,1,2016,2017,paul_zipser,1610612741,Chicago,Bulls,CHI,bulls,Y,11
4525,1627790,"Zizic, Ante",Ante Zizic,1,2017,2019,ante_zizic,1610612739,Cleveland,Cavaliers,CLE,cavaliers,Y,11
4528,1627826,"Zubac, Ivica",Ivica Zubac,1,2016,2019,ivica_zubac,1610612747,Los Angeles,Lakers,LAL,lakers,Y,11

List players groupped by teams:

In [29]:
(players.groupby('TEAM_CODE'))

Above is called an iterable. You can iterate on the object to see the _views_.

In [30]:
for t, p in players.groupby('TEAM_NAME'):
    print("***", t)
    print('; '.join(p.DISPLAY_LAST_COMMA_FIRST.values), '\n')

*** 76ers
Anderson, Justin; Bayless, Jerryd; Belinelli, Marco; Covington, Robert; Embiid, Joel; Fultz, Markelle; Holmes, Richaun; Ilyasova, Ersan; Jackson, Demetrius; Johnson, Amir; Korkmaz, Furkan; Luwawu-Cabarrot, Timothe; McConnell, T.J.; Redick, JJ; Saric, Dario; Simmons, Ben

*** Bucks
Antetokounmpo, Giannis; Bledsoe, Eric; Brogdon, Malcolm; Brown, Sterling; Dellavedova, Matthew; Henson, John; Jennings, Brandon; Maker, Thon; Middleton, Khris; Muhammad, Shabazz; Munford, Xavier; Parker, Jabari; Plumlee, Marshall; Snell, Tony; Terry, Jason; Wilson, D.J.; Zeller, Tyler

*** Bulls
Arcidiacono, Ryan; Asik, Omer; Blakeney, Antonio; Dunn, Kris; Eddie, Jarell; Felicio, Cristiano; Grant, Jerian; Holiday, Justin; Kilpatrick, Sean; LaVine, Zach; Lopez, Robin; Markkanen, Lauri; Nwaba, David; Payne, Cameron; Portis, Bobby; Valentine, Denzel; Vonleh, Noah; Zipser, Paul

*** Cavaliers
Calderon, Jose; Clarkson, Jordan; Green, Jeff; Hill, George; Hood, Rodney; James, LeBron; Korver, Kyle; Love, Kevin; Nance Jr., Larry; Osman, Cedi; Perkins, Kendrick; Smith, JR; Thompson, Tristan; White, Okaro; Zizic, Ante

*** Celtics
Allen, Kadeem; Baynes, Aron; Bird, Jabari; Brown, Jaylen; Gibson, Jonathan; Hayward, Gordon; Horford, Al; Irving, Kyrie; Larkin, Shane; Monroe, Greg; Morris, Marcus; Nader, Abdel; Ojeleye, Semi; Rozier, Terry; Silas, Xavier; Smart, Marcus; Tatum, Jayson; Theis, Daniel; Yabusele, Guerschon

*** Clippers
Beverley, Patrick; Bradley, Avery; Dekker, Sam; Evans, Jawun; Gallinari, Danilo; Harrell, Montrezl; Harris, Tobias; Johnson, Wesley; Jordan, DeAndre; Marjanovic, Boban; Rivers, Austin; Teodosic, Milos; Thornwell, Sindarius; Wallace, Tyrone; Williams, C.J.; Williams, Lou

*** Grizzlies
Brooks, Dillon; Brooks, MarShon; Chalmers, Mario; Conley, Mike; Davis, Deyonta; Evans, Tyreke; Gasol, Marc; Green, JaMychal; Harrison, Andrew; Henry, Myke; Martin, Jarell; McLemore, Ben; Parsons, Chandler; Rabb, Ivan; Selden, Wayne; Simmons, Kobi; Teague, Marquis; Weber, Briante

*** Hawks
Bazemore, Kent; Bembry, DeAndre'; Cavanaugh, Tyler; Cleveland, Antonius; Collins, John; Dedmon, Dewayne; Delaney, Malcolm; Dorsey, Tyler; Evans, Jeremy; Lee, Damion; Magette, Josh; Morris, Jaylen; Muscala, Mike; Plumlee, Miles; Prince, Taurean; Schroder, Dennis; Taylor, Isaiah; White III, Andrew

*** Heat
Adebayo, Bam; Babbitt, Luke; Dragic, Goran; Ellington, Wayne; Haslem, Udonis; Johnson, James; Johnson, Tyler; Jones Jr., Derrick; McGruder, Rodney; Mickey, Jordan; Olynyk, Kelly; Richardson, Josh; Wade, Dwyane; Waiters, Dion; Walton Jr., Derrick; Whiteside, Hassan; Winslow, Justise

*** Hornets
Bacon, Dwayne; Batum, Nicolas; Carter-Williams, Michael; Graham, Treveon; Hernangomez, Willy; Howard, Dwight; Kaminsky, Frank; Kidd-Gilchrist, Michael; Lamb, Jeremy; Mathiang, Mangok; Monk, Malik; Paige, Marcus; Stone, Julyan; Walker, Kemba; Williams, Marvin; Zeller, Cody

*** Jazz
Bradley, Tony; Burks, Alec; Crowder, Jae; Exum, Dante; Favors, Derrick; Gobert, Rudy; Ingles, Joe; Jerebko, Jonas; McCree, Erik; Mitchell, Donovan; Neto, Raul; Niang, Georges; O'Neale, Royce; Rubio, Ricky; Sefolosha, Thabo; Stockton, David; Udoh, Ekpe

*** Kings
Bogdanovic, Bogdan; Caboclo, Bruno; Carter, Vince; Cauley-Stein, Willie; Cooley, Jack; Fox, De'Aaron; Giles III, Harry; Hayes, Nigel; Hield, Buddy; Jackson, Justin; Koufos, Kosta; Labissiere, Skal; Mason, Frank; Randolph, Zach; Sampson, JaKarr; Shumpert, Iman; Temple, Garrett

*** Knicks
Baker, Ron; Beasley, Michael; Burke, Trey; Dotson, Damyean; Hardaway Jr., Tim; Hicks, Isaiah; Jack, Jarrett; Kanter, Enes; Kornet, Luke; Lee, Courtney; Mudiay, Emmanuel; Noah, Joakim; Ntilikina, Frank; O'Quinn, Kyle; Porzingis, Kristaps; Thomas, Lance; Williams, Troy

*** Lakers
Ball, Lonzo; Bryant, Thomas; Caldwell-Pope, Kentavious; Caruso, Alex; Deng, Luol; Ennis, Tyler; Frye, Channing; Hart, Josh; Ingram, Andre; Ingram, Brandon; Kuzma, Kyle; Lopez, Brook; Payton II, Gary; Randle, Julius; Thomas, Isaiah; Wear, Travis; Zubac, Ivica

*** Magic
Afflalo, Arron; Artis, Jamel; Augustin, D.J.; Birch, Khem; Biyombo, Bismack; Fournier, Evan; Gordon, Aaron; Hezonja, Mario; Isaac, Jonathan; Iwundu, Wes; Purvis, Rodney; Ross, Terrence; Simmons, Jonathon; Speights, Marreese; Vucevic, Nikola

*** Mavericks
Barea, J.J.; Barnes, Harrison; Collinsworth, Kyle; Curry, Seth; Ferrell, Yogi; Finney-Smith, Dorian; Harrison, Aaron; Jones, Jalen; Kleber, Maxi; Matthews, Wesley; McDermott, Doug; Mejri, Salah; Motley, Johnathan; Noel, Nerlens; Nowitzki, Dirk; Powell, Dwight; Smith Jr., Dennis

*** Nets
Acy, Quincy; Allen, Jarrett; Carroll, DeMarre; Crabbe, Allen; Cunningham, Dante; Dinwiddie, Spencer; Doyle, Milton; Harris, Joe; Hollis-Jefferson, Rondae; LeVert, Caris; Lin, Jeremy; Mozgov, Timofey; Okafor, Jahlil; Russell, D'Angelo; Stauskas, Nik; Webb III, James; Whitehead, Isaiah

*** Nuggets
Arthur, Darrell; Barton, Will; Beasley, Malik; Chandler, Wilson; Craig, Torrey; Faried, Kenneth; Harris, Devin; Harris, Gary; Hernangomez, Juancho; Jefferson, Richard; Jokic, Nikola; Lydon, Tyler; Lyles, Trey; Millsap, Paul; Morris, Monte; Murray, Jamal; Plumlee, Mason

*** Pacers
Anigbogu, Ike; Bogdanovic, Bojan; Booker, Trevor; Collison, Darren; Jefferson, Al; Joseph, Cory; Leaf, TJ; Moore, Ben; Oladipo, Victor; Poythress, Alex; Robinson III, Glenn; Sabonis, Domantas; Stephenson, Lance; Sumner, Edmond; Turner, Myles; Young, Joe; Young, Thaddeus

*** Pelicans
Ajinca, Alexis; Clark, Ian; Cooke, Charles; Cousins, DeMarcus; Crawford, Jordan; Davis, Anthony; Diallo, Cheick; Drew II, Larry; Hill, Solomon; Holiday, Jrue; Jackson, Frank; Liggins, DeAndre; Miller, Darius; Mirotic, Nikola; Moore, E'Twaun; Okafor, Emeka; Rondo, Rajon

*** Pistons
Bullock, Reggie; Buycks, Dwight; Drummond, Andre; Ellenson, Henry; Ennis III, James; Felder, Kay; Galloway, Langston; Griffin, Blake; Hearn, Reggie; Jackson, Reggie; Johnson, Stanley; Kennard, Luke; Leuer, Jon; Moreland, Eric; Nelson, Jameer; Smith, Ish; Tolliver, Anthony

*** Raptors
Anunoby, OG; Brown, Lorenzo; DeRozan, DeMar; Ibaka, Serge; Lowry, Kyle; McKinnie, Alfonzo; Miles, CJ; Miller, Malcolm; Nogueira, Lucas; Poeltl, Jakob; Powell, Norman; Richardson, Malachi; Siakam, Pascal; Valanciunas, Jonas; VanVleet, Fred; Wright, Delon

*** Rockets
Anderson, Ryan; Ariza, Trevor; Black, Tarik; Brown, Markel; Capela, Clint; Gordon, Eric; Green, Gerald; Harden, James; Nene; Hunter, RJ; Jackson, Aaron; Johnson, Joe; Mbah a Moute, Luc; Onuaku, Chinanu; Paul, Chris; Zhou Qi; Tucker, PJ

*** Spurs
Aldridge, LaMarcus; Anderson, Kyle; Bertans, Davis; Costello, Matt; Forbes, Bryn; Gasol, Pau; Gay, Rudy; Ginobili, Manu; Green, Danny; Hilliard, Darrun; Lauvergne, Joffrey; Leonard, Kawhi; Mills, Patty; Murray, Dejounte; Parker, Tony; Paul, Brandon; White, Derrick

*** Suns
Bender, Dragan; Booker, Devin; Chandler, Tyson; Chriss, Marquese; Daniels, Troy; Dudley, Jared; Harrison, Shaquille; House Jr., Danuel; Jackson, Josh; Knight, Brandon; Len, Alex; Payton, Elfrid; Peters, Alec; Reed, Davon; Ulis, Tyler; Warren, T.J.; Williams, Alan

*** Thunder
Abrines, Alex; Adams, Steven; Anthony, Carmelo; Brewer, Corey; Collison, Nick; Dozier, PJ; Felton, Raymond; Ferguson, Terrance; George, Paul; Grant, Jerami; Hamilton, Daniel; Huestis, Josh; Johnson, Dakari; Patterson, Patrick; Roberson, Andre; Singler, Kyle; Westbrook, Russell

*** Timberwolves
Aldrich, Cole; Bjelica, Nemanja; Brooks, Aaron; Brown, Anthony; Butler, Jimmy; Crawford, Jamal; Dieng, Gorgui; Georges-Hunt, Marcus; Gibson, Taj; Jefferson, Amile; Jones, Tyus; Patton, Justin; Rose, Derrick; Teague, Jeff; Towns, Karl-Anthony; Wiggins, Andrew

*** Trail Blazers
Aminu, Al-Farouq; Baldwin IV, Wade; Collins, Zach; Connaughton, Pat; Davis, Ed; Harkless, Maurice; Layman, Jake; Leonard, Meyers; Lillard, Damian; McCollum, CJ; Napier, Shabazz; Nurkic, Jusuf; Papagiannis, Georgios; Swanigan, Caleb; Turner, Evan; Wilcox, CJ

*** Warriors
Bell, Jordan; Cook, Quinn; Curry, Stephen; Durant, Kevin; Green, Draymond; Iguodala, Andre; Jones, Damian; Livingston, Shaun; Looney, Kevon; McCaw, Patrick; McGee, JaVale; Pachulia, Zaza; Thompson, Klay; West, David; Young, Nick

*** Wizards
Beal, Bradley; Frazier, Tim; Gortat, Marcin; Lawson, Ty; Mahinmi, Ian; McCullough, Chris; Meeks, Jodie; Morris, Markieff; Oubre Jr., Kelly; Porter Jr., Otto; Robinson, Devin; Satoransky, Tomas; Scott, Mike; Sessions, Ramon; Smith, Jason; Wall, John

### Merging data frames

First we can create a table of unique rows with full team names

In [31]:
team_names = players[['TEAM_ABBREVIATION', 'TEAM_CODE']].drop_duplicates()#.set_index('TEAM_ABBREVIATION')
team_names.head()

   TEAM_ABBREVIATION TEAM_CODE
9                OKC   thunder
14               BKN      nets
24               MIA      heat
28               ORL     magic
33               NOP  pelicans

We have team codes (names) as a new column.

In [32]:
teams_clean.head()

  LEAGUE_ID     TEAM_ID  MIN_YEAR  MAX_YEAR ABBREVIATION  TEAM_AGE AGE_GROUP
0        00  1610612739      1970      2019          CLE        49     YOUNG
1        00  1610612737      1949      2019          ATL        70       OLD
2        00  1610612738      1946      2019          BOS        73       OLD
3        00  1610612740      2002      2019          NOP        17     YOUNG
4        00  1610612741      1966      2019          CHI        53       OLD

In [33]:
teams = pd.merge(teams_clean, team_names, left_on='ABBREVIATION', right_on='TEAM_ABBREVIATION')
teams.tail()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,TEAM_AGE,AGE_GROUP,TEAM_ABBREVIATION,TEAM_CODE
25,00,1610612763,1995,2019,MEM,24,YOUNG,MEM,grizzlies
26,00,1610612764,1961,2019,WAS,58,OLD,WAS,wizards
27,00,1610612765,1948,2019,DET,71,OLD,DET,pistons
28,00,1610612766,1988,2019,CHA,31,YOUNG,CHA,hornets
29,00,1610612744,1946,2019,GSW,73,OLD,GSW,warriors

We can apply `str` method:

In [34]:
teams.TEAM_CODE = teams.TEAM_CODE.str.capitalize() # returns values so needs to be reassigned
teams.sort_values('ABBREVIATION', inplace=True)    # modifies object
teams.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,TEAM_AGE,AGE_GROUP,TEAM_ABBREVIATION,TEAM_CODE
1,00,1610612737,1949,2019,ATL,70,OLD,ATL,Hawks
13,00,1610612751,1976,2019,BKN,43,YOUNG,BKN,Nets
2,00,1610612738,1946,2019,BOS,73,OLD,BOS,Celtics
28,00,1610612766,1988,2019,CHA,31,YOUNG,CHA,Hornets
4,00,1610612741,1966,2019,CHI,53,OLD,CHI,Bulls

In [35]:
players.head()

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
9,203518,"Abrines, Alex",Alex Abrines,1,2016,2018,alex_abrines,1610612760,Oklahoma City,Thunder,OKC,thunder,Y,00
14,203112,"Acy, Quincy",Quincy Acy,1,2012,2018,quincy_acy,1610612751,Brooklyn,Nets,BKN,nets,Y,01
22,203500,"Adams, Steven",Steven Adams,1,2013,2019,steven_adams,1610612760,Oklahoma City,Thunder,OKC,thunder,Y,00
24,1628389,"Adebayo, Bam",Bam Adebayo,1,2017,2019,bam_adebayo,1610612748,Miami,Heat,MIA,heat,Y,00
28,201167,"Afflalo, Arron",Arron Afflalo,1,2007,2017,arron_afflalo,1610612753,Orlando,Magic,ORL,magic,Y,00

### Indexing

There are many different ways to index `Series` and `DataFrames` in pandas: https://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing.

- `.loc` is primarily for using labels and booleans: e.g., column and row indices, comparison operators, etc
- `.iloc` is primarily for using integer positions: i.e., like you would matrices

In [36]:
temp = teams.head(7).tail()
temp

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,TEAM_AGE,AGE_GROUP,TEAM_ABBREVIATION,TEAM_CODE
2,00,1610612738,1946,2019,BOS,73,OLD,BOS,Celtics
28,00,1610612766,1988,2019,CHA,31,YOUNG,CHA,Hornets
4,00,1610612741,1966,2019,CHI,53,OLD,CHI,Bulls
0,00,1610612739,1970,2019,CLE,49,YOUNG,CLE,Cavaliers
5,00,1610612742,1980,2019,DAL,39,YOUNG,DAL,Mavericks

In [37]:
print('*** indexing with .iloc:\n', temp.iloc[2])
print('\n*** indexing with .loc :\n', temp.loc[2])

*** indexing with .iloc:
 LEAGUE_ID                    00
TEAM_ID              1610612741
MIN_YEAR                   1966
MAX_YEAR                   2019
ABBREVIATION                CHI
TEAM_AGE                     53
AGE_GROUP                   OLD
TEAM_ABBREVIATION           CHI
TEAM_CODE                 Bulls
Name: 4, dtype: object

*** indexing with .loc :
 LEAGUE_ID                    00
TEAM_ID              1610612738
MIN_YEAR                   1946
MAX_YEAR                   2019
ABBREVIATION                BOS
TEAM_AGE                     73
AGE_GROUP                   OLD
TEAM_ABBREVIATION           BOS
TEAM_CODE               Celtics
Name: 2, dtype: object

### Pandas (often) shows you views

Recall that python objects are often _views_ of the same instance in memory space. Following says these are the same objects in memory:

In [38]:
temp = teams
print(id(temp) == id(teams))

True

So, if you change one, you see the change in the other:

In [39]:
s1 = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
s2 = s1
print("id of s1:", id(s1))
print("id of s2:", id(s2))
print("s1 is s2:", s1 is s2)

id of s1: 139864547478608
id of s2: 139864547478608
s1 is s2: True

In [40]:
s1[0] = 10000

print("s1 changed:", s1[0])
print("s2 also   :", s2[0])

s1 changed: 10000.0
s2 also   : 10000.0

Needs to be **copied** in order to make independent duplicate

In [41]:
abbr = teams.ABBREVIATION.copy()